* {
  margin: 0;
  border: 0;
}

/* 不定宽高: 一：绝对定位+transform */
/* .box {
  width: 300px;
  height: 300px;
  border: red 2px solid;
  position: relative;
}

.box1 {
  position: absolute;
  background-color: yellow;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

/* 二：table-cell */
.box {
  width: 200px;
  height: 200px;
  border: red 2px solid;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.box1 {
  background-color: yellow;
  display: inline-block;
}


/* 三： flex布局 */
/* .box {
  width: 200px;
  height: 200px;
  border: red 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  background-color: yellow;
} */


/* 四： flex布局 auto */
/* .box {
  width: 200px;
  height: 200px;
  border: red 2px solid;
  display: flex;
  justify-content: center;
}

.box1 {
  background-color: yellow;
  margin: auto;
} */

/* 五： grid + flex 布局 */
/* .box {
  width: 200px;
  height: 200px;
  border: red 2px solid;
  display: grid;
}

.box1 {
  background-color: yellow;
  align-self: center;
  justify-self: center;
} */